@keyframes blink-bg {
    0%   { background-color: mix(@bg, blue,0.5); 
		   border: .15em solid yellow;
		 }
    100%  { background-color: mix(@bg, yellow,0.5); 
	       border: .15em solid blue;
		 }
}

.heatergraph:focus,
.spin-entry:focus:not(.active),
scrolledwindow:focus:not(.active),
scale:focus:not(.active),
popover checkbutton:focus,
box:focus,
switch:focus,
combobox window.popup menuitem:hover,
button.dialog-info:focus,
button.dialog-warning:focus,
button.dialog-error:focus,
button.dialog-primary:focus,
button.color1:focus,
button.color2:focus,
button.color3:focus,
button.color4:focus,
button:focus {
	border: .15em solid darker(@bg);
	animation: blink-bg 0.4s infinite alternate linear;
}
switch:focus {
	min-width: calc(5em - 2 * 0.15em); /* min-width from base.css minus border size */
    min-height: calc(2.5em - 2 * 0.15em);
} 
popover box .encmode {
	padding: 0px 5px;
    margin: 0px 5px;
}

popover checkbutton {
    padding: 8px;
    margin: 2px;
}

.spin-entry.active:focus,
scrolledwindow.active,
scale.active:focus {
	color: red;
	border-color: red;
	caret-color: transparent ;
	border: .15em;
    border-style: solid;
}

/*  .heater-grid button{
    min-height: 0.5em;
 } */
